{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "react", "jsx-a11y", "flowtype"],
  "globals": {
    "React": true,
    "__DEV__": true,
    "__dirname": true,
    "describe": true,
    "expect": true,
    "it": true,
    "xit": true,
    "beforeEach": true,
    "jest": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-undef": "error",
    "no-unused-vars": "error",
    "no-else-return": "error",
    "no-duplicate-imports": "off",
    "no-mixed-operators": "off",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/href-no-hash": "off",
    "react/jsx-filename-extension": "off",
    "react/sort-comp": "off",
    "react/no-unused-prop-types": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-indent": "off",
    "react/prop-types": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-wrap-multilines": "off",
    "flowtype/define-flow-type": "error",
    "flowtype/use-flow-type": "error",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "bracketSpacing": true,
        "tabWidth": 2,
        "printWidth": 80
      }
    ]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
