{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-duplicate-imports": "error",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "no-else-return": "warn",
    "arrow-parens": 0,
    "array-callback-return": 0,
    "class-methods-use-this": 0,
    "space-before-function-paren": 0,
    "max-len": 0,
    "indent": 0,
    "no-param-reassign": 0,
    "prefer-default-export": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "bracketSpacing": true,
        "tabWidth": 2,
        "printWidth": 80
      }
    ]
  }
}
